<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <%- include partials/_header %>
  </header>


    <ul>
       <% for (const name in urls) { %>

       <%= name %> &rarr; <a href = "/urls/<%= name %>"> <%= urls[name].url %></a>


        <a href = "/urls/<%=name%>"> edit </a>

        <form method="POST" action="/urls/<%= name %>/delete">
          <button>Delete</button>
        </form>


        <% } %>

    </ul>

    <form action="/urls" method="POST" style="margin:20px;">
      <label for="longURL">Create a New Short Link:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>



</body>
</html>

