<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <%- include partials/_header %>
  </header>


    <ul>
       <% for (const name in urls) { %>

          <form method="POST" action="/urls/<%= name %>/delete">
            <button>Delete</button>
          </form>

         <%= name %> &rarr; <a href = "http://localhost:8080/urls/<%= name %>"> <%= urls[name] %></a>


        <a href = "/urls/<%=name%>"> edit </a>

        <% } %>

    </ul>


</body>
</html>

