<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <%- include partials/_header %>
  </header>


    <ul>
       <% for (const name in urls) { %>

       <%= name %> &rarr; <a href = "/urls/<%= name %>"> <%= urls[name].url %></a>


        <a href = "/urls/<%=name%>"> edit </a>

        <form method="POST" action="/urls/<%= name %>/delete">
          <button>Delete</button>
        </form>


        <% } %>

    </ul>


</body>
</html>

